<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./mini-project/app</directory>
    </include>
  </coverage>
  <testsuites>
    <!--
    <testsuite name="Models">
      <directory suffix="Test.php">./tests/gds/models</directory>
    </testsuite>
    <testsuite name="Suppliers">
      <directory suffix="Test.php">./tests/gds/suppliers</directory>
    </testsuite>
    -->
    <testsuite name="Tools">
      <directory suffix="Test.php">./tests/gds/tools</directory>
    </testsuite>
    <testsuite name="Resources">
      <directory suffix="Test.php">./tests/gds/resources</directory>
    </testsuite>
    <testsuite name="Requests">
      <directory suffix="Test.php">./tests/gds/requests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="APP_LBN" value="0"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="QUEUE_CONNECTION" value="sync"/>
    <!-- env name="LINE_NOTIFY_TOKEN" value="GwQbhck7ulT0XEyP7JLzlolF9zEIROaDT8xcCu8DMyC"/ -->
    <!-- DB 設定請使用 .env -->
  </php>
</phpunit>
